name: Release & Dispatch to Child Repos

on:
  release:
    types: [published]

permissions:
  contents: read

jobs:
  dispatch:
    runs-on: ubuntu-latest
    environment: PAT

    steps:
      # --------------------------------------------
      # Extract version & release notes
      # --------------------------------------------
      - name: Extract version and release notes
        run: |
          VERSION="${{ github.event.release.tag_name }}"
          VERSION="${VERSION#v}"

          echo "VERSION=$VERSION" >> $GITHUB_ENV
          echo "${{ github.event.release.body }}" > release_notes.txt

      # --------------------------------------------
      # Dispatch to Child-A (Rails)
      # --------------------------------------------
      - name: Dispatch release to Rails child repo
        uses: peter-evans/repository-dispatch@v3
        with:
          token: ${{ secrets.PAT }}
          repository: srkdev404-cyber/wysiwyg-rails-child-A
          event-type: version_update
          client-payload: |
            {
              "version": "${{ env.VERSION }}",
              "release_notes": ${{ toJson(github.event.release.body) }}
            }

      # --------------------------------------------
      # Dispatch to Child-B (Ruby SDK)
      # --------------------------------------------
      - name: Dispatch release to Ruby SDK child repo
        uses: peter-evans/repository-dispatch@v3
        with:
          token: ${{ secrets.PAT }}
          repository: srkdev404-cyber/wysiwyg-editor-ruby-sdk-child-B
          event-type: version_update
          client-payload: |
            {
              "version": "${{ env.VERSION }}",
              "release_notes": ${{ toJson(github.event.release.body) }}
            }
       # --------------------------------------------
      # Dispatch to Child-B (Ruby SDK)
      # --------------------------------------------
      - name: Dispatch release to Wordpress
        uses: peter-evans/repository-dispatch@v3
        with:
          token: ${{ secrets.PAT }}
          repository: srkdev404-cyber/wordpress-froala-wysiwyg-child-C
          event-type: version_update
          client-payload: |
            {
              "version": "${{ env.VERSION }}",
              "release_notes": ${{ toJson(github.event.release.body) }}
            }
        # --------------------------------------------
      # Dispatch to Child-B (Ruby SDK)
      # --------------------------------------------
      - name: Dispatch release to yii2-froala-editor
        uses: peter-evans/repository-dispatch@v3
        with:
          token: ${{ secrets.PAT }}
          repository: srkdev404-cyber/yii2-froala-editor-child-D
          event-type: version_update
          client-payload: |
            {
              "version": "${{ env.VERSION }}",
              "release_notes": ${{ toJson(github.event.release.body) }}
            }
